.element__like {
    width: 22px;
    height: 19px;
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 25px;
    background-image: url(../../../images/Vector.svg);
    background-size: cover;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0;
}