.popup__input {
    font-family: 'Inter',Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 30px;
    width: 358px;
    min-height: 27px;
}

@media screen and (max-width: 600px) {
    .popup__input {
        width: 238px;
    }
}