.popup__submit {
    margin: 18px 0 0 0;
    width: 358px;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter',Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.4s linear;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .popup__submit {
        width: 238px;
        min-height: 46px;
    }
}